<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.studentMapper">
  <resultMap id="BaseResultMap" type="com.pojo.student">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="QQ" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="type" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="time" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="school" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="studentid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="link" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="target" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="brother" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="address" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, name, QQ, type, time, school, studentid, link, target, brother, address
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from student
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from student
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pojo.student">
    insert into student (id, name, QQ, 
      type, time, school, 
      studentid, link, target, 
      brother, address)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{qq,jdbcType=INTEGER}, 
      #{type,jdbcType=VARCHAR}, #{time,jdbcType=VARCHAR}, #{school,jdbcType=VARCHAR}, 
      #{studentid,jdbcType=INTEGER}, #{link,jdbcType=VARCHAR}, #{target,jdbcType=VARCHAR}, 
      #{brother,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pojo.student">
    insert into student
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="qq != null">
        QQ,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="school != null">
        school,
      </if>
      <if test="studentid != null">
        studentid,
      </if>
      <if test="link != null">
        link,
      </if>
      <if test="target != null">
        target,
      </if>
      <if test="brother != null">
        brother,
      </if>
      <if test="address != null">
        address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        #{qq,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="school != null">
        #{school,jdbcType=VARCHAR},
      </if>
      <if test="studentid != null">
        #{studentid,jdbcType=INTEGER},
      </if>
      <if test="link != null">
        #{link,jdbcType=VARCHAR},
      </if>
      <if test="target != null">
        #{target,jdbcType=VARCHAR},
      </if>
      <if test="brother != null">
        #{brother,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pojo.student">
    update student
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        QQ = #{qq,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=VARCHAR},
      </if>
      <if test="school != null">
        school = #{school,jdbcType=VARCHAR},
      </if>
      <if test="studentid != null">
        studentid = #{studentid,jdbcType=INTEGER},
      </if>
      <if test="link != null">
        link = #{link,jdbcType=VARCHAR},
      </if>
      <if test="target != null">
        target = #{target,jdbcType=VARCHAR},
      </if>
      <if test="brother != null">
        brother = #{brother,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pojo.student">
    update student
    set name = #{name,jdbcType=VARCHAR},
      QQ = #{qq,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      time = #{time,jdbcType=VARCHAR},
      school = #{school,jdbcType=VARCHAR},
      studentid = #{studentid,jdbcType=INTEGER},
      link = #{link,jdbcType=VARCHAR},
      target = #{target,jdbcType=VARCHAR},
      brother = #{brother,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>